doctype html
html
   head
      meta(charset='UTF-8')
      title register page
      link(rel='stylesheet', href='stylesheets/index.css')
   body
   .wrapper
      .container
         h1 SIGN UP
         form(action="/members", method="POST")
            input(type="text", name="userId", placeholder="userid")
            input(type="text", name="userName", placeholder="username")
            input(type="text", name="userEmail", placeholder="email")         
            input(type="password", name="userPassword", placeholder="password")
            input(type="password", name="userPasswordck", placeholder="password check")         
            button(type="submit") SUMBIT 
            button(type="button", onClick="window.location.href='/'") CANCLE
      ul.bg-bubbles
         li
         li
         li
         li
         li
         li
         li
         li
         li
         li
         li

