<!DOCTYPE html>
<html>
  <head>
    <title>회원가입 실패</title>
  </head>
  <body>
  <center>
    <br><br><br><br><br>
    <hr>
    <h1>비밀번호가 일치하지 않습니다.</h1>
  <input type="button", value="확인", onClick="history.go(-1)">
    <hr>
 </body>
</html>



