doctype html
html
   head
      meta(charset='UTF-8')
      title change password page
      link(rel='stylesheet', href='stylesheets/index.css')
   body
      .wrapper
         .container
            .container2
               h1 CHANGE PASSWORD
               form(action="/newPassword", method="POST")
                  input(type="password", name="currentPassword", placeholder="사용중인 비밀번호")
                  input(type="password", name="newPassword", placeholder="변경할 비밀번호")
                  input(type="password", name="newPassword2", placeholder="비밀번호 재확인")         
                  button(type="submit") CHANGE 
                  button(type="button", onClick="history.back()") CANCEL
            ul.bg-bubbles
               li
               li
               li
               li
               li
               li
               li
               li
               li
               li
