doctype html
html
   head
      meta(charset='UTF-8')
      title find password page
      link(rel='stylesheet', href='stylesheets/index.css')
   body
      .wrapper
         .container
            .container2
               h1 FIND PASSWORD
               form(action="/password", method="POST")
                  input(type="text", name="userId", placeholder="userid")
                  input(type="text", name="userName", placeholder="username")
                  input(type="text", name="userEmail", placeholder="email")         
                  button(type="submit") FIND 
                  button(type="button", onClick="history.back()") CANCEL
            ul.bg-bubbles
               li
               li
               li
               li
               li
               li
               li
               li
               li
               li

