doctype html
html
  head
    meta(charset='UTF-8')
    title 여행일지 등록
  body
    center
      form(name='form',method='post', action='/posting', enctype='multipart/form-data')
        table
          tr
            td
              select(name='category')
                option(value='all', selected='selected') 전체
                option(value='traffic') 교통
                option(value='restaurant') 맛집
                option(value='rest') 숙소
                option(value='attraction') 명소
            td
              input(type='text',size='129',name='title', placeholder='제목을 입력해주세요.')
          tr
            td
            td
              input(type='file',name='image')
          tr
            td
              div(align='center')
                | 여행일지
                br
                | 내용
            td
              textarea(name='content', style='width:802px; height:600px;')
            td
              input(type="hidden", name="lat",value=lat)
              input(type="hidden", name="lng", value=lng)
        div(align='right')
          input(type='submit', value='등록 완료')
          input(type='button', value='취소', onclick='history.back();')
