<!DOCTYPE html>
<html>
  <head>
    <title>여행일지 등록 성공</title>
  </head>
  <body>
  <center>
    <br><br><br><br><br>
    <hr>
    <h1>여행일지 수정을 완료하였습니다.</h1>
  <form name="form1", method="get", action="/postingList">
  <input type="submit", value="확인">
  </form>
    <hr>
  </body>
</html>

