<!DOCTYPE html>
<html>
  <head>
    <title>비밀번호 찾기</title>
  </head>
  <body>
  <center>
    <br><br><br><br><br>
    <hr>
    <h1>비밀번호는 <%=passwd %>입니다. </h1>
    <form name="form1", method="GET", action="/">
    <input type="submit", value="확인">

    <hr>
 </body>
</html>



